SECRET_KEY=django-insecure-change-me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=
RENDER_EXTERNAL_HOSTNAME=
DATABASE_URL=
DB_CONN_MAX_AGE=600
SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
YOUTUBE_API_KEY=
ENABLE_YTDLP_YOUTUBE_IMPORT=True
YTDLP_IMPORT_AUDIO_DIR=media/audio
YTDLP_MAX_FILENAME_LENGTH=120
